{0}&nbsp;#totalSize&nbsp;{1}&nbsp;&nbsp;&nbsp;{2}&nbsp;#currentPageNo/#totalPageNum&nbsp;{3}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<img src="/kqsys/img/btn_firstPage.gif" style="#firstStyle" onclick="HPageTable.go2page('#formName', #firstPageNo)" />&nbsp;&nbsp;
<img src="/kqsys/img/btn_prevPage.gif" style="#preStyle" onclick="HPageTable.go2page('#formName', #prePageNo)" />&nbsp;&nbsp;
<img src="/kqsys/img/btn_nextPage.gif" style="#nextStyle" onclick="HPageTable.go2page('#formName', #nextPageNo)" />&nbsp;&nbsp;
<img src="/kqsys/img/btn_lastPage.gif" style="#lastStyle" onclick="HPageTable.go2page('#formName', #lastPageNo)" />
