@CHARSET "UTF-8";

html, body, div, span, table, tr, td, ul, li, input, select, a { font-size: 13px; font-family: '宋体'; }
input { padding: 2px;}
#main_wrap { width: 100%; height: 100%; text-align:center;  }

/* 表单table */
.tableClass { margin: 5px; width: 98%; background-color: #e1e1e1;  }
.tableClass td {background-color: #fafafa; height: 27px; padding: 5px; vertical-align: middle; }
.tableClass th {background-color: #eeeeee; height: 27px; padding: 5px; vertical-align: middle;}
.tableClass td input { height: 22px; vertical-align: middle; }
.tableClass td span { height: 20px; vertical-align: middle; }
.tableClass .tableClass-Page {height: 20px; margin: 0; padding: 0;}

/* input text */
.DefInputText { border: 1px solid #c9c9c9; font-size: 15px; padding:4px; }
.DefTextarea { border: 1px solid #c9c9c9; font-size: 15px; padding:4px; }
.HeadToolUl { margin:5px;}
.HeadToolUl	li  { float: left; vertical-align: middle; margin:5px auto 5px 5px; line-height: 26px; height: 26px;  }
.HeadToolUl	li input {height: 25px;}
